<form class="edit-client-data-view">
    <fieldset>
        <label>
            <span>${firstName}</span>
            <input type="text" class="first-name" name="firstName"/>
        </label>
        <label>
            <span>${lastName}</span>
            <input type="text" class="last-name" name="lastName"/>
        </label>
        <label>
            <span>${dateOfBirth}</span>
            <input type="text" name="dateOfBirth">
        </label>
        <label>
            <span>${citizenship}</span>
            <input type="text" name="citizenship">
        </label>
        <label>
            <span>${documentNumber}</span>
            <input type="text" name="documentNumber">
        </label>
        <label>
            <span>${validity}</span>
            <input type="submit" value="${chooseDate}" name="validity">
        </label>
        <label class="dropdown">
            <span>Dropdown view</span>
            <input type="hidden" value="Paris" name="town">
            <input type="text" name="time" value="Spring">
        </label>
        <label>
            <span>${loyaltyCardAirlines}</span>
            <input type="text" name="loyaltyCardAirlines">
        </label>
        <label>
            <input type="submit" value="${save}" name="save">
        </label>
    </fieldset>
</form>